<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>STO Ship DB</title>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
		<link rel="stylesheet" href="index.css">
	</head>
	<body>
	<section class="section">
		<div id="app" class="container">
			<h1 class="title is-2">
				STO Ship DB
			</h1>
			
			<p>Created by Reddit user u/wkrick using data from
				<a href="https://docs.google.com/spreadsheets/d/1-5Nmp_vycD2VpLbuqWnnQL1Lvx-nPy-cGYLPIckGRLk/edit?usp=sharing" target="_blank">Sortable/Filterable T6 Ship List</a>
				by Reddit user u/Fleffle. Last updated 2022-02-14.</p>
			
			<form v-on:submit.prevent="addNewAttribute">
				
				<div class="field fieldset">
					<h2 class="label legend">Desired Ship Attributes</h2>

					<div class="control">
						<div class="select">
							<select id="newAttributeName" v-model="newAttributeName">
								<option disabled value="">Select Attribute</option>
								<option v-for="option in attributeNameOptions" :key="option" :value="option">{{ option }}</option>
							</select>
						</div>
					</div>
					<div class="control">
						<div class="select">
							<select v-model="newAttributeComparison" :disabled="!(attributeValueOptions[0] && isFinite(attributeValueOptions[0].value))">
								<option value="=">=</option>
								<option value="&lt;=">&lt;=</option>
								<option value="&gt;=">&gt;=</option>
							</select>
						</div>
					</div>
					<div class="control">
						<div class="select">
							<select v-model="newAttributeValue" :disabled="!newAttributeName">
								<option disabled value="">Select Value</option>
								<option v-for="option in attributeValueOptions" :value="option.value">{{ option.text }}</option>
							</select>
						</div>
						<button class="button is-info" :disabled="!newAttributeValue && newAttributeValue !== 0">
							<span class="icon is-small">
								<svg style="width:24px;height:24px" viewBox="0 0 24 24">
									<path fill="currentColor" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M13,7H11V11H7V13H11V17H13V13H17V11H13V7Z" />
								</svg>
							</span>
						</button>
					</div>
					
					<div  v-show="attributes.length">
						<hr class="divider">
					<attribute
						v-for="(attribute, index) in attributes"
						:key="attribute.id"
						:name="attribute.name"
						:comparison="attribute.comparison"
						:value="attribute.value"
						@remove="attributes.splice(index, 1)"
					></attribute>
					</div>
					
				</div>
			
			</form>

			
			<form v-on:submit.prevent="addNewAbility">
				
				<div class="field fieldset">
					<h2 class="label legend">Desired Bridge Officer Abilities</h2>

					<div class="control">
						<div class="select">
							<select id="newAbilityType" v-model="newAbilityType">
								<option disabled value="">Select Type</option>
								<option v-for="option in abilitytypeOptions" :key="option" :value="option">{{ option }}</option>
							</select>
						</div>
					</div>
					<div class="control">
						<div class="select">
							<select id="newAbilityName" v-model="newAbilityName" :disabled="!newAbilityType">
								<option disabled value="">Select Name</option>
								<option v-for="option in abilitynameOptions" :key="option" :value="option">{{ option }}</option>
							</select>
						</div>
					</div>
					<div class="control">
						<div class="select">
							<select id="newAbilityLevel" v-model="newAbilityLevel" :disabled="!newAbilityName">
								<option disabled value="">Select Level</option>
								<option v-for="option in abilitylevelOptions" :key="option" :value="option">{{ option }}</option>
							</select>
						</div>
						<button class="button is-info" :disabled="!newAbilityLevel">
							<span class="icon is-small">
								<svg style="width:24px;height:24px" viewBox="0 0 24 24">
									<path fill="currentColor" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M13,7H11V11H7V13H11V17H13V13H17V11H13V7Z" />
								</svg>
						</span>
						</button>
					</div>
			
					<div v-show="abilities.length">
						<hr class="divider">
						<ability
							v-for="(ability, index) in abilities"
							:key="ability.id"
							:type="ability.type"
							:name="ability.name"
							:level="ability.level"
							:rank="ability.rank"
							@remove="abilities.splice(index, 1)"
						></ability>
					</div>

				</div>

			</form>
			
			
			<form v-on:submit.prevent="addNewColumn">
				
				<div class="field fieldset">
					<h2 class="label legend">Desired Columns in Result Table</h2>

					<div class="control">
						<div class="select">
							<select id="newColumnName" v-model="newColumnName">
								<option disabled value="">Select Column</option>
								<option v-for="option in columnNameOptions" :key="option" :value="option">{{ option }}</option>
							</select>
						</div>
						<button class="button is-info" :disabled="!newColumnName">
							<span class="icon is-small">
								<svg style="width:24px;height:24px" viewBox="0 0 24 24">
									<path fill="currentColor" d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M13,7H11V11H7V13H11V17H13V13H17V11H13V7Z" />
								</svg>
							</span>
						</button>
					</div>

					<div v-show="columns.length">
						<hr class="divider">
						<column
							v-for="(column, index) in columns"
							:key="column.id"
							:name="column.name"
							@remove="columns.splice(index, 1)"
						></column>
					</div>
					
				</div>
			
			</form>

			<br>
	
			<h2 class="label">Matching Ships: {{ rows.length }} out of {{ allShips.length }}</h2>

			<table v-show="rows.length" class="table">
				<tr>
					<th>Ship Name</th>
					<th v-for="(c) in filteredColumns">{{ c.text }}</th>
				</tr>
				<tr v-for="ship in rows">
					<td><a v-bind:href="ship.url" target="_blank">{{ ship.name }}</a></td>
					<td v-for="(c) in filteredColumns">{{ ship[c.key] }}</td>
				</tr>
			</table>
			
		</div>
	</section>
	
	<script src="https://cdn.jsdelivr.net/npm/vue@3.2.31/dist/vue.global.prod.js"></script>
	<script src="shipdata.js"></script>
	<script src="abilitydata.js"></script>
	<script src="attributedata.js"></script>
	<script src="index.js"></script>
	
	</body>
</html>
