/*
html {
	background: #D1D1D1
}
*/

.fieldset {
	border: solid;
	border-radius: 0.5em;
	margin: 1em 0 0.25em;
	padding: 0 0.5em 0.5em;
}

.legend {
	font-size: x-large;
	font-weight: bold;
}

.selectable {
	user-select: text;
}

.overlay {
	position:fixed !important;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
	z-index:100;
}

/* add additional size constraints to fix the PrimeVue Chip remove icon */
.p-chip-remove-icon {
	min-width: 1rem;
	min-height: 1rem;
}

/* button links shouldn't have padding or a focus shadow */
.p-button.p-button-link {
	padding: 0;
	box-shadow: none;
}

/* makes text align to right side on mobile which looks better */
@media screen and (max-width: 769px) {
	.table-ship-name {
		text-align: right;
	}
	
	.table-other {
		display:inline-flex;
		text-align: right;
	}
}
