html {
	background: #aeb0b5;
	font-family: Arial, Verdana, sans-serif;
}

.fieldset {
	border: solid;
	color: #363636;
	border-radius: 0.5em;
	margin: 1em 0 0.25em;
	padding: 0 0.5em 0.5em;
}

.legend {
	transform: translatey(-50%);
	width: max-content;
	background: #aeb0b5;
    margin: 0;
	padding: 0 0.25em;
}