:root {
	font-family: system-ui, sans-serif;
}

.fieldset {
	border: solid;
	border-radius: 0.5em;
	margin: 1em 0 0.25em;
	padding: 0 0.5em 0.5em;
}

.legend {
	font-size: x-large;
	font-weight: bold;
}

.selectable {
	user-select: text;
}

.overlay {
	position:fixed !important;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
	z-index:100;
}

/* give the chips the same border as the select for better visibility and add some spacing between them */
.p-chip {
	border: 1px solid var(--p-select-border-color);
	margin-right: 0.25rem;
	margin-bottom: 0.25rem;
}

/* button links shouldn't have padding or a focus shadow */
.p-button.p-button-link {
	padding: 0;
	box-shadow: none;
}

/* makes text align to right side on mobile which looks better */
@media screen and (max-width: 769px) {
	.table-ship-name {
		text-align: right;
	}
	
	.table-other {
		display:inline-flex;
		text-align: right;
	}
}
